h1 {
    color: #FA9905;
    margin-top: 5px;
    margin-bottom: 10px; 
    z-index: 1;
    font-family: 'Silkscreen', sans-serif;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('./images/bg_img.png'); 
    background-size: cover; 
    background-color: #111D5E; 
    text-align: center;
}


.menu-container {
    position: relative;
    height: 500px;
    width: 500px;
    background-color: #111D5E;
    border-radius: 15px;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow-y: hidden;
    box-shadow:
        30px 30px 20px 1px #F21170, /* Right and Bottom */
        -30px -30px 20px 1px #FA9905, /* Left and Top */
        30px -30px 40px 1px #FF5200, /* Top-right */
        -30px 30px 40px 1px #FF5200; /* Bottom-left */
}

.tic-tac-toe-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
}

.tic-tac-toe-icon img {
    max-width: 100%;
    max-height: 100%;
}

button {
    margin: 60px 10px;
    padding: 15px 30px; /* Increased length */
    border: none;
    border-radius: 10px; /* Rounded edges */
    font-size: 1.5em;
    cursor: pointer;
    background: linear-gradient(to right, #F21170, #FA9905); /* Linear gradient color */
    color: #fff;
    transition: background 0.3s ease-in-out;
    font-family: 'Chakra Petch', sans-serif;
    color: #111D5E;
}

button:hover {
    background: linear-gradient(to right, #FA9905, #F21170); /* Change gradient on hover */
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    justify-content: center;
  }

  .cell {
    width: 100px;
    height: 100px;
    border: 2px solid #FA9905;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Silkscreen', sans-serif;
    color: #111D5E;
    background: linear-gradient(to right, #F21170, #FA9905); /* Linear gradient color */
    color: #111D5E;
    transition: background 0.3s ease-in-out;
  }

  .cell:hover {
    background: linear-gradient(to right, #FA9905, #F21170); /* Change gradient on hover */
}

  .reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 0px;
  }

  #result {
    color: #FF5200; /* Change X won or O won message color */
    font-size: 1.5em;
    margin-top: 10px;
    font-family: 'Silkscreen', sans-serif;
  }